body {
  font-family: helvetica;
}

div {
  margin-top: 50px;
}

.message {
  margin-left: 10px; padding: 20px;
}

.message h4 {
  word-break: break-word;
 }

.message:hover {
  cursor: pointer;
}

#user {
  border-left: 2px solid blue;
}